body {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  color: #eeeeee;
  min-width: 375px;
  padding: 0;
  margin: 0;
}

header {
  flex: 0 80px;
}

input {
  border-radius: 8px;
  width: 200px;
  height: 30px;
}

form {
    background-color: #1d2b36;
    max-width: 350px;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    border: 1px solid #2c3e50;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}



/* Top Menu Bar section */
.curr_page{
    background-color: #111111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #212121;
  display: flex;
}

ul li a{
  display: block;
  color: white;
  padding: 19px 19px;
  text-decoration: none;
}

ul li h3{
  display: block;
  color: white;
  padding: 19px 19px;
  text-decoration: none;
  margin: 0;
  font-size: 1rem;
}


ul li a:hover {
  background-color: #111111;
}
/* Top Menu Bar section */

footer {
  flex: 0 30px;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

footer a {
  color: white;
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
