body {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  color: #eeeeee;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
}

/* Top Menu Bar section */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #212121;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 19px 19px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}
/* Top Menu Bar section */

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
