
main {
  justify-content: flex-start !important;
}

h1 {
  display: flex;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0px;
  white-space: nowrap;
}

.table.table-dark.table-striped {
  width: 90%;
  max-width: 1200px;
  margin-top: 10px;
}