h1 {
  text-align: center;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.table.table-dark.table-striped {
  width: 90%;
  max-width: 1200px;
}