nav a[href="/unlimited"][aria-current="page"] {
  background-color: #216d1c;
}

#notificationCollapse .card-body {
  display: flex;
  background-color: #1d2b36 !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  border: 1px solid #2c3e50;
}

#notificationCollapse .list-group {
  background-color: #1d2b36 !important;
  border-color: #2c3e50 !important;
}

#notificationCollapse .list-group-item {
  background-color: #1d2b36 !important;
  color: #ffffff !important;
}

.collapse_menu {
  padding-top: 40px;
  align-self: flex-end;
  margin-right: 20px;
  width: auto;
}

#notificationCollapse {
  right: 20;
  z-index: 10;
}
