@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.body {
  display: flex;
  flex-direction: column;
  background-color: #37474f;
  color: #eeeeee;
  min-width: 375px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

header {
  flex: 0 80px;
}

form {
  display: flex;
  position: relative;
  top: 130px;
  background-color: #1d2b36;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  border: 1px solid #2c3e50;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40%;
}

.list-group {
  background-color: #37474f;
  padding-top: 50px;
  padding-bottom: 20px;
}

.container.text-center {
  max-width: 700px;
  width: 95%;
  padding: 10px;
}

.container.text-center .row {
  row-gap: 25px;
}

.flag_banner {
  max-width: 100%;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.form-floating.mb-3 {
  color: gray;
}

.form-floating {
  color: gray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

.input-group.mb-3 {
  width: 40%;
}

.input-group {
  width: 100%;
  max-width: 500px;
  align-self: center;
  padding: 20px 0;
}

.form-control,
.btn {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
}

/* Top Menu Bar section */
.curr_page {
  background-color: #111111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #212121;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

ul li a {
  display: block;
  color: white;
  padding: 19px 19px;
  text-decoration: none;
}

ul li h3 {
  display: block;
  color: white;
  padding: 19px 19px;
  text-decoration: none;
  margin: 0;
  font-size: 1rem;
}

.username {
  display: block;
  margin-left: auto;
  text-align: right;
  color: white;
  padding: 19px 19px;
  text-decoration: none;
  font-size: 1rem;
}

ul li a:hover {
  background-color: #111111;
  color: rgb(177, 177, 177);
}

/* footer section */
footer {
  flex: 0 30px;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

footer a {
  color: white;
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
